.ProductCard {
    height: max-content;
    width: min(350px, 100%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ProductCard-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ProductCard-image {
    height: min(300px, 95vw);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    background: #0f0f29;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.App[data-theme="day"] .ProductCard-image {
    background: #ebebeb;
}

.ProductCard-headline {
    font-size: calc(10px + .5vw);
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.App[data-theme="day"] .ProductCard-headline {
    color: #333333;
}

.ProductCard-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.7;
    font-weight: 500;
    font-size: calc(10px + .25vw);
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.ProductCard-price {
    font-size: calc(15px + .25vw);
}

.ProductCard-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.ProductCard-btnWrap {
    display: flex;
    position: relative;
}

.ProductCard-blinker {
    height: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 15px;
    right: 15px;
}

.ProductCard-btn {
    border: none;
    outline: none;
    color: #ffffff;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + .5vw);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ProductCard-buyBtn {
    height: 50px;
    aspect-ratio: 1/1;
    padding: 10px 10px;
    background: rgb(73, 160, 15);
    flex-shrink: 0;
}

.ProductCard-infoBtn {
    height: auto;
    width: 100%;
    min-height: 50px;
    padding: 10px 15px;
    background: rgb(25, 25, 255);
}

.ProductCard-buyBtn img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}