.ProductCard {
    height: max-content;
    width: min(350px, 100%);
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    background: #8080804f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ProductCard-image {
    height: min(300px, 95vw);
    aspect-ratio: 1/1;
    object-fit: cover;
    /* margin-bottom: px; */
    border-radius: 5px;
    filter: drop-shadow(0 15px 15px #0000006f);
    -webkit-filter: drop-shadow(0 15px 15px #0000006f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ProductCard-headline {
    font-size: calc(10px + .5vw);
    font-weight: 900;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ProductCard-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.7;
    font-weight: 500;
    font-size: calc(10px + .25vw);
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.ProductCard-price {
    font-size: calc(15px + .25vw);
}

.ProductCard-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.ProductCard-btn {
    border: none;
    outline: none;
    color: #ffffff;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ProductCard-buyBtn {
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    background: rgb(73, 160, 15);
}

.ProductCard-infoBtn {
    height: auto;
    width: 100%;
    min-height: 50px;
    padding: 10px 15px;
    background: rgb(25, 25, 255);
}

.ProductCard-buyBtn img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}