.Header {
    max-width: 100vw;
    width: 100vw;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-prop);
    position: fixed;
    background: #ffffff00;
    left: 0;
    top: 0;
    z-index: 5000;
}

.Header-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
}

.Header-logoImage {
    height: 35px;
}

.Header-logoText {
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
}

.Header[data-theme="day"] .Header-logoText {
    color: #131313;
}

.Header-nav {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 400;
}

.Header-navItem {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    /* opacity: 0.1; */
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.Header[data-theme="day"] .Header-navItem {
    color: #131313;
}

.Header-controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Header-btn {
    height: 35px;
    width: 35px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    opacity: 0;
}

.Header-cartBtn::after {
    content: attr(data-count);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -10px;
    background: rgb(228, 27, 27);
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Header-btn img {
    width: 100%;
}

.Header-menuBtn {
    display: none;
}

.Header[data-theme="day"] .Header-menuBtn div {
    background: #131313;
}

.Header-menuBtn div {
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@media screen and (max-width: 800px) {
    .Header-logoText {
        display: none;
    }
    .Header-nav {
        width: 100vw;
        height: 0;
        overflow: hidden;
        padding: 25px;
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: space-around;
        pointer-events: none;
        transition: 0.3s;
        backdrop-filter: blur(25px);
        transform: translateY(100%);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    .Header-navItem {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 20px;
    }
    .Header[data-theme="day"] .Header-nav[data-mobile-view="true"] {
        background: #ffffff;
        backdrop-filter: blur(50px);
    }
    .Header-nav[data-mobile-view="true"] {
        max-height: 500px;
        height: 50vh;
        overflow: auto;
        display: flex;
        opacity: 1;
        pointer-events: all;
        background: #080712;
        box-shadow: 0 5px 5px #00000027;
    }
    .Header-menuBtn {
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
    }
}