.Header {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 25px 150px;
}

.Header-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.Header-logoImage {
    height: 35px;
}

.Header-logoText {
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.Heade-nav {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 400;
}

.Header-navItem {
    cursor: pointer;
}

.Header-controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Header-btn {
    height: 35px;
    width: 35px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.Header-cartBtn::after {
    content: attr(data-count);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -10px;
    background: rgb(228, 27, 27);
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Header-btn img {
    width: 100%;
}